@import 'variables';
header {
  margin-bottom: 60px;
  .container {
    display: flex;
    margin: auto;
    padding: 20px 0;
    @media (max-width: 768px) {
      width: 85%;
      flex-direction: column;
    }
  }
  ul {
    list-style-type: none;
  }
  a {
    color: map-get($colors, 'dark-red');
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 450px) {
      align-items: flex-start;
    }
    a {
      border-color: map-get($colors, 'dark-red');
      border: 1px solid;
      padding: 10px 20px;
      text-decoration: none;
      transition: 0.25s ease;
      margin-right: 10px;
      &:hover {
        color: map-get($colors, 'white-alt');
        background-color: map-get($colors, 'dark-red');
        border-color: map-get($colors, 'dark-red');
      }
    }
    .link-logout{
      @media (max-width: 1024px) {
        margin-right: 40px;
      }
    }
    .navbar-left{
      @media (max-width: 450px) {
        display: flex;
        flex-direction: column;
        a{
          margin-left: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }
}