@import 'variables';
.pag-detail {
  h1 {
    margin: 0;
  }
  strong {
    color: map-get($colors, 'chatea-green');
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }
  .date {
    color: map-get($colors, 'raven');
    font-size: 1rem;
  }
  @media (max-width: 687px) {
    width: 88%;
  }
}