$colors: (
  white: white,
  white-alt: #fefefe,
  black: black,
  black-alt: #212121,
  dodger-blue: #1e90ff,
  lightblue: #0099cc,
  lightgray: #e6e6e6,
  lightgray-alt: lightgray,
  gray: #606169,
  gray-alt: #707070,
  green: #3fb573,
  chatea-green: #28a745,
  darkgray: #212121,
  red: #dc0a0a,
  dark-red:#9e1002,
  orange: #f39518,
  yellow: #ffc700,
  mosque: #0c5460,
  oyster-bay: #D1ECF1,
  onahau: #bee5eb, 
  dark-cerulean: #004085,
  patten-blue: #cce5ff, 
  pale-cornflower-blue: #b8daff,
  baltic-sea: #383d41,
  solitude: #e2e3e5,
  link-water: #d6d8db,
  crusoe: #155724,
  swans-down: #d4edda,
  granny-apple: #c3e6cb,
  red-berry: #721c24,
  pale-pink: #f8d7da,
  azalea: #f5c6cb,
  golden-brown: #856404,
  china-ivory: #fff3cd,
  banana-mania: #ffeeba,
  storm-grey: #818182,
  ghost-white: #fdfdfe,
  black-pearl: #1b1e21,
  pattens-blue: #d6d8d9,
  link-water-alt: #c6c8ca,
  amaranth: #dc3545,
  cod-grey: #2F3337,
  raven: #6c757d
);